.app {
    margin-top: 1rem;

    .title {
        font-size: 3rem;
        text-align: center;
    }

    .listGames {
        display: flex;
        gap: 2rem;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 3rem;
    }
}