* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {

    .item {
        width: 20rem;
        height: 17rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: darkgray;
    }

    button {
        width: 7rem;
        padding: 1rem;
        background-color: red;
        transition: .3s;
        cursor: pointer;
        &:hover {
            background-color: orange;
        }
    }
}