* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: gray;
    min-height: 100vh;
    display: flex;
    column-gap: 5rem;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
}

.subcontainer {
    width: 100%;
    height: 70px;
    border: 4px solid #000000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontainer p {
    font-size: 2rem;
}

.item1 {

}

.item2 {
    flex: 1 0 600px
}

.item3 {
    
}